    .box_div {
        background: #dfe6e9;
        width: 100%;
        height: 700px;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
       


    }

    .derss_div {
        width: 25%;
        background: #00b894;
        border: #55efc4 solid;
        text-align: center;
    }

    .person_div {
        width: 45%;
        background: #00b894;
        border: #55efc4 solid;
        z-index: 1;
    

    }

    .z_div {
        width: 30%;
        background: #00b894;
        border: #55efc4 solid;
        opacity: 0;

    }

    .person_img {
        margin: 5%;
    }

    .img_1 {
        position: relative;
        top: -338px;
        width: 100%;

    }

    /* .img_1:hover {
        border: orangered solid;

    } */

    .btn {
        margin: 5%;
        width: 70px;
        height: 70px;
        border-radius: 15px;
        border: springgreen;
        background-image: linear-gradient(#fab1a0, #e17055);
    }
