body {

  display: flex;
  justify-content: space-evenly;
}
body > div {
    overflow: hidden;
    background: #dfe6e9;
    width: 100%;
    height: 700px;
    text-align: center;
}
.derss_div {
  width: 25%;
  background: #00b894;
  border: #55efc4 solid;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

}

.person_div {
  width: 45%;
  background: #00b894;
  border: #55efc4 solid;
  z-index: 1;
  position: relative;
}

.z_div {
  width: 30%;
  background: #00b894;
  border: #55efc4 solid;
  opacity: 0;
}

.person_img {
  margin: 5%;
}
/* 人的图片 */
.test {
  position: absolute;
  width: 100%;
  z-index: 2;
  right: 30px;
}
/* 衣服的图片 */
.img_1 {
  position: absolute;
  width: 50%;
  right: 30px;
  width: 100%;
  z-index: 3;
}

/* .img_1:hover {
        border: orangered solid;

    } */
/* 单件衣服 */
.btn {
  margin: 5%;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  border: springgreen;
  background-image: linear-gradient(#fab1a0, #e17055);
  position: relative;
}
/* 底下的仨按钮 */
.fileBtn{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
 
}
.fileBtn > button {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    height: 50px;
    width: 70px;
}

.fileBtn >button:hover{
    background: linear-gradient(#dfe6e9,#fab1a0 );

}
